<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Dinner</title>
  </head>
  <body class="context">
    <nav>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="/home" class="navbar-brand ms-2">Home</a>
          <span class="navbar-text" data-th-text="${name}"></span>
          <form class="d-flex">
            <a href="/logout" class="btn btn-outline-danger me-2" role="button">Logout</a>
          </form>
        </div>
      </nav>
    </nav>
    <section>
      <div class="container-fluid context">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8">
            <h1 class="my-3 py-3 text-light text-center" id="homeheader">
              Register for Honeydew 20th Anniversary Dinner 🍴
            </h1>
          </div>
          <div class="col-6">
            <form
              action=""
              method="post"
              data-th-action="@{/register/confirmDetails}"
              data-th-object="${dinner}">
              <!-- isAttending -->
              <div
                class="input-group mb-1 row d-flex justify-content-start align-items-center my-3">
                <div class="badge bg-light text-wrap fs-5 mb-2 text-muted me-5 col-6">
                  Would you like to attend the dinner?
                </div>
                <div
                  class="btn-group col-6 mb-1"
                  role="group"
                  aria-label="Basic radio toggle button group ">
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio1"
                    autocomplete="off"
                    data-th-field="*{isAttending}"
                    value="true"
                    checked />
                  <label class="btn btn-outline-light" for="btnradio1">Yes 😃</label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio2"
                    autocomplete="off"
                    data-th-field="*{isAttending}"
                    value="false" />
                  <label class="btn btn-outline-light" for="btnradio2">No ☹️</label>
                </div>
              </div>
              <div class="mb-1">
                <span
                  class="error"
                  data-th-if="${#fields.hasErrors('isAttending')}"
                  data-th-errors="*{isAttending}">
                </span>
              </div>
              <!-- numberOfAttedance -->
              <div class="input-group mb-1 mt-3">
                <span class="input-group-text" style="width: 12rem">Number of Attendees?</span>
                <input
                  type="number"
                  class="form-control"
                  data-th-field="*{numberOfAttendance}"
                  placeholder="1" />
              </div>
              <div class="mb-1">
                <span
                  class="error"
                  data-th-if="${#fields.hasErrors('numberOfAttendance')}"
                  data-th-errors="*{numberOfAttendance}">
                </span>
              </div>

              <!-- isVegetarian -->
              <div class="input-group mb-1 row d-flex align-items-center my-3">
                <div class="badge bg-light text-wrap fs-5 mb-2 text-muted me-5 col-6">
                  Are you a vegetarian?
                </div>
                <div
                  class="btn-group col-6 mb-1"
                  role="group"
                  aria-label="Basic radio toggle button group ">
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio3"
                    autocomplete="off"
                    data-th-field="*{isVegetarian}"
                    value="true"
                    checked />
                  <label class="btn btn-outline-light" for="btnradio3">Yes 🍅</label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio4"
                    autocomplete="off"
                    data-th-field="*{isVegetarian}"
                    value="false" />
                  <label class="btn btn-outline-light" for="btnradio4">No 🍖</label>
                </div>
              </div>
              <div class="mb-1">
                <span
                  class="error"
                  data-th-if="${#fields.hasErrors('isVegetarian')}"
                  data-th-errors="*{isVegetarian}">
                </span>
              </div>

              <!-- isAllergic -->
              <div class="input-group mb-1 d-flex align-items-center">
                <div class="badge bg-light text-wrap fs-5 mb-2 text-muted me-5 col-6">
                  Do you have any allergic?
                </div>

                <div
                  class="btn-group col-6 mb-1"
                  role="group"
                  aria-label="Basic radio toggle button group ">
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio5"
                    autocomplete="off"
                    data-th-field="*{isAllergic}"
                    value="true"
                    checked />
                  <label class="btn btn-outline-light" for="btnradio5">Yes</label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio6"
                    autocomplete="off"
                    data-th-field="*{isAllergic}"
                    value="false" />
                  <label class="btn btn-outline-light" for="btnradio6">No</label>
                </div>
              </div>
              <div class="mb-1">
                <span
                  class="error"
                  data-th-if="${#fields.hasErrors('isAllergic')}"
                  data-th-errors="*{isAllergic}">
                </span>
              </div>

              <!-- allergicFood -->
              <div class="form-floating mb-1 mt-3">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                  data-th-field="*{allergicFood}"></textarea>
                <label for="floatingTextarea2">Please specify your allergies.</label>
              </div>

              <div class="text-center mt-3">
                <button class="btn btn-outline-light" type="submit">Next</button>
              </div>
            </form>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 text-center">
                <form method="GET" data-th-action="@{/}">
                  <button type="submit" class="btn btn-danger mt-3">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
