<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Home</title>
  </head>
  <body class="context">
    <nav>
      <nav class="navbar navbar-dark bg-dark">
        <div data-th-unless="${islogin}" class="container-fluid">
          <a href="/home" class="navbar-brand ms-2">Home</a>
          <form class="d-flex">
            <!-- Button trigger modal -->
            <button
              class="btn btn-outline-success me-2"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#login">
              Login
            </button>
            <a href="/signUp" class="btn btn-sm btn-outline-secondary" role="button">Sign Up</a>
          </form>
        </div>
        <div data-th-if="${islogin}" class="container-fluid">
          <a href="/home" class="navbar-brand ms-2">Home</a>
          <span class="navbar-text" data-th-text="${name}"></span>
          <form class="d-flex">
            <a href="/logout" class="btn btn-outline-danger me-2" role="button">Logout</a>
          </form>
        </div>
      </nav>
    </nav>
    <section>
      <div class="container-fluid context">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-6">
            <h1
              data-th-unless="${islogin}"
              class="my-3 py-1 text-light text-center"
              id="homeheader">
              Welcome to Honeydew Website
            </h1>
            <h1 data-th-if="${islogin}" class="my-3 py-1 text-light text-center" id="homeheader">
              Welcome <span data-th-text="${name}"></span> 😃
            </h1>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="row d-flex justify-content-center align-items-center">
            <img src="/images/logo1.png" id="honeydew-logo" class="img-fluid" alt="..." />
            <div data-th-if="${islogin}">
              <div class="text-center">
                <a href="/register" class="btn btn-outline-light mt-3" role="button"
                  >Register Dinner</a
                >
              </div>
              <div class="text-center">
                <a href="/shirt" class="btn btn-outline-light mt-3" role="button">Purchase Shirt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      aria-labelledby="loginModalLable"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLable">Login</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <form data-th-action="@{/login}" method="post" data-th-object="${login}">
            <div class="modal-body">
              <div class="input-group mb-1 mt-3">
                <span class="input-group-text">Email</span>
                <input
                  type="text"
                  class="form-control"
                  data-th-field="*{email}"
                  placeholder="email address" />
              </div>
              <div class="input-group mb-1 mt-3">
                <span class="input-group-text">Password</span>
                <input type="password" class="form-control" data-th-field="*{password}" />
              </div>
              <div class="mb-1">
                <span
                  class="error"
                  data-th-if="${#fields.hasErrors('password')}"
                  data-th-errors="*{password}">
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
