<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Honeydew Shirt</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand ms-2">Home</a>
        <a href="/member" class="navbar-brand ms-2"><i class="bi bi-person-circle"></i></a>
        <form class="d-flex">
          <a href="/logout" class="btn btn-outline-danger me-2" role="button">Logout</a>
        </form>
      </div>
    </nav>
    <section>
      <div class="container-fluid context">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-6">
            <h1 class="my-3 py-1 text-light text-center" id="homeheader">
              Invoice ID : <span data-th-text="${quotations.getQuoteId()}"></span>
            </h1>

            <table class="table table-info table-hover mt-3">
              <tr>
                <td>Name</td>
                <td data-th-text="${member.getName()}"></td>
              </tr>
              <tr>
                <td>Contact No.</td>
                <td data-th-text="${member.getPhoneNum()}"></td>
              </tr>
              <tr>
                <td>Email</td>
                <td data-th-text="${member.getEmail()}"></td>
              </tr>
              <tr>
                <td>Address</td>
                <td data-th-text="${deliveryAddress}"></td>
              </tr>
              <tr>
                <td>Total</td>
                <td data-th-text="${total}"></td>
              </tr>
            </table>

            <table class="table table-light table-hover mt-3">
              <thead>
                <tr>
                  <td scope="col">Shirt Color</td>
                  <td scope="col">Size</td>
                  <td scope="col">Quantity</td>
                  <td scope="col">Price</td>
                </tr>
              </thead>
              <tbody>
                <tr data-th-each="shirt : ${quotations.getQuotations()}" data-th-object="${shirt}">
                  <td scope="row" data-th-text="${shirt.getColor()}"></td>
                  <td data-th-text="${shirt.getSize()}"></td>
                  <td data-th-text="${shirt.getQuantity()}"></td>
                  <td data-th-text="'$' + ${shirt.getPrice()*shirt.getQuantity()}"></td>
                </tr>
                <tr class="fw-bold">
                  <td>TOTAL</td>
                  <td>👕</td>
                  <td data-th-text="${numberOfShirts} + ' pieces'"></td>
                  <td data-th-text="'$' + ${total}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-3 text-center">
            <form method="GET" data-th-action="@{/}">
              <button type="submit" class="btn btn-primary mt-3">Home</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
