<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Register</title>
  </head>
  <body class="context">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand ms-2">Home</a>
        <a href="/member" class="navbar-brand ms-2"><i class="bi bi-person-circle"></i></a>
        <form class="d-flex">
          <a href="/logout" class="btn btn-outline-danger me-2" role="button">Logout</a>
        </form>
      </div>
    </nav>
    <section>
      <div class="container-fluid context">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8">
            <h3 class="my-5 py-3 text-light text-center" id="homeheader">Your Profile</h3>
          </div>
          <div class="col-6">
            <table class="table table-light table-hover mt-3">
              <tr>
                <td>Name</td>
                <td data-th-text="${member.getName()}"></td>
              </tr>
              <tr>
                <td>Batch</td>
                <td data-th-text="${member.getBatch()}"></td>
              </tr>
              <tr>
                <td>Contact No.</td>
                <td data-th-text="${member.getPhoneNum()}"></td>
              </tr>
              <tr>
                <td>Email</td>
                <td data-th-text="${member.getEmail()}"></td>
              </tr>
              <tr>
                <td>State/City</td>
                <td data-th-text="${member.getCity()}"></td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td data-th-text="${member.getDateOfBirth()}"></td>
              </tr>
              <tr>
                <td>Password</td>
                <td data-th-text="${member.getPassword()}"></td>
              </tr>
            </table>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 text-center">
                <form method="GET" data-th-action="@{/}">
                  <button type="submit" class="btn btn-info mt-3">Edit</button>
                </form>
              </div>
              <div class="col-3 text-center">
                <form method="GET" data-th-action="@{/}">
                  <button type="submit" class="btn btn-danger mt-3">Back</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
